# Data Cleaning

In [ ]:
import pandas as pd;

In [ ]:
df = pd.read_csv('fFreight.csv');

In [ ]:
df.head()

,Date,Customer ID,Truck ID,Invoice Number,Freight ID,City,Net Revenue,Weight (Kg),Weight (Cubic),Goods Value
0,2018/01/02,10975,38,774571,02/01/2018:MMA-5946,Herrings Crossroads,"7,42","2,5",3,"247,39"
1,2018/01/02,22346,23,774507,02/01/2018:MMA-4836,Enders,"3,54","2,62",3,"118,05"
2,2018/01/02,12208,23,774516,02/01/2018:MMA-4836,Shavertown,"8,98","5,54",9,"299,01"
3,2018/01/02,1929,23,774626,02/01/2018:MMA-4836,Enders,"12,49","7,8",9,"416,27"
4,2018/01/02,6198,23,774623,02/01/2018:MMA-4836,Enders,"2,49","8,55",9,"82,9"

In [ ]:
df['Net Revenue'].head(10)

0     7,42
1     3,54
2     8,98
3    12,49
4     2,49
5    13,17
6     7,37
7    17,45
8     5,84
9    12,88
Name: Net Revenue, dtype: object

In [ ]:
df['Net Revenue'] = df['Net Revenue'].str.replace(',', '.').astype(float)

In [ ]:
df.head()

,Date,Customer ID,Truck ID,Invoice Number,Freight ID,City,Net Revenue,Weight (Kg),Weight (Cubic),Goods Value
0,2018/01/02,10975,38,774571,02/01/2018:MMA-5946,Herrings Crossroads,7.42,"2,5",3,"247,39"
1,2018/01/02,22346,23,774507,02/01/2018:MMA-4836,Enders,3.54,"2,62",3,"118,05"
2,2018/01/02,12208,23,774516,02/01/2018:MMA-4836,Shavertown,8.98,"5,54",9,"299,01"
3,2018/01/02,1929,23,774626,02/01/2018:MMA-4836,Enders,12.49,"7,8",9,"416,27"
4,2018/01/02,6198,23,774623,02/01/2018:MMA-4836,Enders,2.49,"8,55",9,"82,9"

In [ ]:
df['Weight (Kg)'].head(10)

0      2,5
1     2,62
2     5,54
3      7,8
4     8,55
5     8,31
6    11,38
7    14,84
8     9,62
9    11,39
Name: Weight (Kg), dtype: object

In [ ]:
df['Weight (Kg)'].head(10)

0      2,5
1     2,62
2     5,54
3      7,8
4     8,55
5     8,31
6    11,38
7    14,84
8     9,62
9    11,39
Name: Weight (Kg), dtype: object

In [ ]:
df['Weight (Kg)'] = df['Weight (Kg)'].str.replace(',', '.').astype(float)

In [ ]:
df['Weight (Kg)'].head(10)

0     2.50
1     2.62
2     5.54
3     7.80
4     8.55
5     8.31
6    11.38
7    14.84
8     9.62
9    11.39
Name: Weight (Kg), dtype: float64

In [ ]:
df['Weight (Cubic)'].head(10)

0     3
1     3
2     9
3     9
4     9
5    15
6    15
7    15
8    12
9    27
Name: Weight (Cubic), dtype: object

In [ ]:
df['Weight (Cubic)'] = df['Weight (Cubic)'].str.replace(',', '.').astype(float)

In [ ]:
df['Weight (Cubic)'].head(10)

0     3.0
1     3.0
2     9.0
3     9.0
4     9.0
5    15.0
6    15.0
7    15.0
8    12.0
9    27.0
Name: Weight (Cubic), dtype: float64

In [ ]:
df['Goods Value'].head(10)

0    247,39
1    118,05
2    299,01
3    416,27
4      82,9
5    438,93
6    245,55
7    581,17
8    194,53
9     429,3
Name: Goods Value, dtype: object

In [ ]:
df['Goods Value'] = df['Goods Value'].str.replace(',', '.').astype(float)

In [ ]:
df.head()

,Date,Customer ID,Truck ID,Invoice Number,Freight ID,City,Net Revenue,Weight (Kg),Weight (Cubic),Goods Value
0,2018/01/02,10975,38,774571,02/01/2018:MMA-5946,Herrings Crossroads,7.42,2.50,3.0,247.39
1,2018/01/02,22346,23,774507,02/01/2018:MMA-4836,Enders,3.54,2.62,3.0,118.05
2,2018/01/02,12208,23,774516,02/01/2018:MMA-4836,Shavertown,8.98,5.54,9.0,299.01
3,2018/01/02,1929,23,774626,02/01/2018:MMA-4836,Enders,12.49,7.80,9.0,416.27
4,2018/01/02,6198,23,774623,02/01/2018:MMA-4836,Enders,2.49,8.55,9.0,82.90

# Data Handling

In [ ]:
df['Date'] = pd.to_datetime(df['Date'], format='%Y/%m/%d')

In [ ]:
df.to_csv("freight_cleaned.csv", index=False)